body {
  margin: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  padding: 1.5rem 1rem !important;
}

.navigation-bar{
  background: black;
  color: white;
}

.navbar-brand a{
  color: white !important;
  font-weight: bolder;
  text-transform: uppercase !important;
}

.nav-link{
  color: white !important;
  text-transform: uppercase !important;
}

.nav-link a{
  color: white !important;
  text-transform: uppercase !important;
}

.dropdown-item a{
  color: black;
  text-transform: uppercase !important;
}

.dropdown-item a:hover{
  color: black;
  text-transform: uppercase !important;
}

@media (min-width: 481px) and (max-width: 767px) {
  .navbar-brand a{
    font-size: 1rem!important;
  }

  .nav-link a{
    font-size: 0.7rem!important;
  }

  .dropdown-item a{
    font-size: 0.7rem!important;
  }

  .dropdown-menu{
    min-width: 6rem !important;
  }

}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-brand a{
    font-size: 1rem!important;
  }

  .nav-link{
    font-size: 0.8rem!important;
  }

  .dropdown-item a{
    font-size: 0.8rem!important;
  }

  .dropdown-menu{
    min-width: 6rem !important;
  }
}